@import "../../../styles/variables.scss";

.page_404 {
    background: $nav_color_menu;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-size:50%;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.text_center h1 {
    font-size: $font_size_32px;
}

.button:hover {
    background-color: #dddedf;
}

@media (max-width: 991.98px) {
    .four_zero_four_bg {
        background-size: contain;
    }
}