@import "../../../styles/variables.scss";

.page_404 {
    display: flex;
    flex-direction: column;
    background: $nav_color_menu;
    font-family: 'Arvo', serif;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    display: flex;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 50vh;
    width: 100%;
    background-size: contain;
    background-position: center;
}

.text_center h1 {
    font-size: $font_size_32px;
}

.contant_box_404 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.contant_box_404 a {
    text-decoration: none;
}

@media (min-width: 375px) and (max-width: 991.98px) {
    .four_zero_four_bg {
        background-size: contain;
        background-repeat: no-repeat;
    }
}