.slide_container {
    width: 70%;
    margin: auto;
  }
 
  .each_slide {
    display: flex;
    border-radius: 1em;
    background-position: center;
    background-size: cover;
    height: 20em;
  }
  
  .indicator {
    width: 1em;
    height: 1em;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
    margin-right: 1em ;
    border-radius: 50%;
  }
  .indicator.active {
    background: #1d1c1c;
    color: #fff;
  }