<div class="footer-main">
    <div class="info-container">
        <ul>
            <li class="logo">Tech Market</li>
            <li>2021 Tech online store</li>
        </ul>
    </div>
    <div class="contacts-container">
        <ul>
            <p>Contacts:</p>
            <li>
                <a href="tel:0800123456"> 0800123456</a> <span> - Hotline</span>
            </li>
            <li>
                <a href="tel:0976543210"> 0976543210</a> <span> - Manager</span>
            </li>
            <li>
                <a href="mailto:techmarket@mail.com">techmarket@mail.com</a>
            </li>
        </ul>
    </div>

    <div class="schedule-container">
        <ul>
            <p>Work schedule</p>
            <li> Mon - Fri: 10:00 - 20:00</li>
            <li> Sat: 10:00 - 18:00</li>
        </ul>
    </div>
</div>
