$base-font-size:                      15px;
@function rem($size) {
  @return $size / $base-font-size * 1rem;
}

//font-size
$font_size_12px: rem(12px);
$font_size_13px: rem(13px);
$font_size_14px: rem(14px);
$font_size_16px: rem(16px);
$font_size_18px: rem(18px);
$font_size_20px: rem(20px);
$font_size_22px: rem(22px);
$font_size_24px: rem(24px);
$font_size_32px: rem(32px);

//color
$main_color_header_footer :  #1d1c1c;
$nav_color_menu : #FFFFFF;

//font-family
$font-family: 'Arvo', serif;