//font-size

$font_size_12px: 0.75em;
$font_size_13px: 0.8125em;
$font_size_14px: 0.875em;
$font_size_16px: 1em;
$font_size_18px: 1.125em;
$font_size_20px: 1.25em;
$font_size_22px: 1.375em;
$font_size_24px: 1.5em;
$font_size_32px: 2em;

//color
$main_color_header_footer :  #1d1c1c;
$nav_color_menu : #FFFFFF;