<div class="login-form">
    <form>
        <ul>
            <p class="login-form-title">Personal account</p>
            <li>
                <label for="mail"></label>
                <input type="text" placeholder="Enter E-mail" name="mail" required>
            </li>
            <li>
                <label for="password"></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </li>
            <button type="submit">Login</button>
        </ul>
    </form>
</div>
