@import "../../styles/variables.scss";

.footer_dark {
  color: $nav_color_menu;
  background-color: #1d1c1c;
  bottom: 0;
  width: 100%;
}

.footer_dark h3 {
  font-size: $font_size_16px;
}

.footer_dark ul {
  font-size: $font_size_14px;
}

.about_link, .categories_navlink {
  font-family: $font-family;
  color: inherit;
  opacity: 75%;
}

.about_link:hover, .categories_navlink:hover {
  color: inherit;
  opacity: 100%;
}

.footer_dark .copyright {
  font-size: $font_size_13px;
}