@import "../../styles/variables.scss";

.nav_header {
    --bs-bg-opacity: 1;
    background-color: $main_color_header_footer;
    color: white;
    height: 6em;
}

.nav_header .container a {
    color: white;
}