.button-prev, .button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(14, 1, 1);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .button-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .button-prev:hover, .button-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
  }

  .carousel-inner {
    width: 100%;
    object-fit: scale-down;;
  }

  img {
    width: 100%;
  }

  .button-none {
      display: none;
  }
